.moviesCardList {
  padding: 79px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moviesCardList__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 28px;
  margin: 0;
  padding: 0;
}
.moviesCardList__item {
  list-style-type: none;
}
.moviesCardList__button {
  height: 36px;
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.moviesCardList__button:hover {
  opacity: 0.8;
}
.moviesCardList__button_none {
  display: none;
}
@media (max-width: 890px) {
  .moviesCardList {
    padding: 80px 30px 80px;
  }

  .moviesCardList__list {
    row-gap: 35px;
    column-gap: 24px;
  }
}
@media (max-width: 767px) {
  .moviesCardList__list {
    width: 342px;
  }
}
@media (max-width: 400px) {
  .moviesCardList {
    padding: 50px 10px 80px;
  }
  .moviesCardList__list {
    row-gap: 16px;
    width: 300px;
  }
  .moviesCardList__button {
    margin-top: 80px;
  }
}
