.navigation {
  margin: 22px 70px 28px 0;
}
.navigation__overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.navigation__links{
   display: flex;
   gap:20px;
}
.navigation__burger-button {
  position: relative;
  top: 0;
  right: 0;
  display: none;
  width: 44px;
  height: 44px;
  margin: 14px 30px 15px 0;
  border: none;
  padding: 0;
  z-index: 5;
  background-color: transparent;
}
.navigation__burger-button.is-active{
  margin: 14px 11px 15px 0;
}  
.navigation__burger-button:hover{
  opacity: 0.8;
  cursor: pointer;
}
.navigation__span {
  position: absolute;
  left: 7px;
  background-color: #fff;
  width: 30px;
  height: 3px;
  display: block;
}
.navigation__span.line-active{
  width: 22px;
}
.navigation__span:nth-child(1) {
  transform: translateY(-10px);
}

.navigation__span:nth-child(3) {
  transform: translateY(10px);
}
/*крестик*/
.navigation_opened .navigation__span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.navigation_opened .navigation__span:nth-child(2) {
  opacity: 0;
}
.navigation_opened .navigation__span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.navigation__title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
}
.navigation__title.active {
  font-weight: 500;
}
.navigation__title:hover {
  opacity: 0.7;
}
.navigation__title_none {
  display: none;
}
.navigation__subtitle {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: 7px 0 7px;
  text-decoration: none;
}
.navigation__logo {
  background-color: #0f4157;
  border-radius: 20%;
  background-image: url("../../images/icon__COLOR_icon-main.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.navigation__logo_grey {
  background-color: #313131;
}
.navigation__account {
  display: flex;
  gap: 13px;
  width: 100px;
  height: 32px;
  text-decoration: none;
  margin-left: 50px;
}
.navigation__account:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .navigation {
    margin: 0px 0px 28px;
  }
  .navigation__overlay {
    display: block;
  }
  .navigation__nav {
    background-color: #202020;
    position: fixed;
    right: -520px;
    top: 0;
    width: 520px;
    flex-direction: column;
    height: 100vh;
    gap: 24px;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
    z-index: 3;
  }
  .navigation_opened .navigation__nav {
    transform: translateX(-100%);
    visibility: visible;
  }
  .navigation__links{
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .navigation__burger-button {
    display: block;
  }
  .navigation__burger-button.is-active{
    position: fixed;
    right: 0;
    top: 0;
  }
  .navigation__title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2px;
  }
  .navigation__title.active {
    border-bottom: 2px solid #fff;
  }
  .navigation__title_none {
    display: block;
    margin: 161px 0 10px;
  }
  .navigation__account {
   margin: 0 0 92px;
  }
}
@media (max-width: 400px) {
  .navigation__nav {
    width: 320px;
    right: -320px;
    /*height: 780px;*/
  }
    .navigation__burger-button{
    margin: 15px 0 16px;
    width: 40px;
    height: 43px;
    }
  .navigation__span{
    width: 23px;
  }
.navigation__title_none{
  margin: 146px 0 0;
}
.navigation__title.active {
padding: 5px;
}
.navigation__account {
  margin: 0 0 48px;
}
.navigation__burger-button.is-active{
  margin: 7px 9px 15px 0;
}  
}
