.filterCheckbox__checkbox {
  display: inline-block;
  margin-top: 26px;
}
.filterCheckbox__checkbox:hover {
  cursor: pointer;
  opacity: 0.8;
}
.filterCheckbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}
.filterCheckbox__text {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  position: relative;
  padding-left: 50px;
  z-index: 1;
}
.filterCheckbox__text::before {
  display: block;
  content: "";
  width: 36px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3ddc84;
  border-radius: 18px;
  transition: 0.5s ease;
}

.filterCheckbox__text::after {
  display: block;
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s ease;
}
.filterCheckbox__input:checked + .filterCheckbox__text::before {
  background-color: #3ddc84;
}
.filterCheckbox__checkbox_active .filterCheckbox__input:checked + .filterCheckbox__text::after {
  background-color: #fff;
  left: 20px;
}
@media (max-width: 890px) {
  .filterCheckbox__checkbox {
    margin-top: 24px;
  }
}
@media (max-width: 400px) {
  .filterCheckbox__text {
    font-size: 11px;
  }
  .filterCheckbox__checkbox {
    margin-top: 27px;
  }
}
