.register__field {
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  gap: 5px;
}
.register__input {
  border: 0;
  background-color: #202020;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 10px;
  outline: none;
  border-radius: 3px;
}
.register__input::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.register__input:focus {
  background-color: #3ddc84;
}
.register__input_error-red {
  color: #ee3465;
}
.register__input-error {
  color: #ee3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*margin-top: 6px;*/
}
